/*  CSS Resets  */


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
{
  text-align: center;
}
/*main css*/
/*body background color*/
body {
  background-color: gainsboro;
}
/*defining the refrence dimension of the layout*/
.main-layout {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding:20px;
}
/*main heading*/
h1 {
  width: 800px;
  font-size: 40px;
  position: fixed;
  right: 150px;
  top: 0px;
  padding:10px 0 10px 160px ;
  background-color: gainsboro;
}
/*sub- headings*/
h2 {
  font-size: 30px;
  margin: 20px 0 15px 190px;
  padding-top: 30px;
}
/*left article*/
.article-left {
  width: 120px;
  margin-left: 35px;
  display: inline-block;
  vertical-align: top;
}
/*paragraphs inside article-left*/
p {
  font-size: 18px;
  margin-bottom: 20px;
}
/*main image properties*/
img {
  width: 50%;
  height: 50%;
  margin: 0 20px 0 20px;
}
/*defining the right article properties*/
.article-right {
  width: 160px; 
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
/*quotes section*/
.quotes {
  width: 400px;
  margin: 0 auto;
}
/*defining right article propeties*/
h3 {
  font-size: 21px;
}
/*applying margin for the specific quote*/
.extra-margin {
  margin: 0 15px 20px 15px;
}



