:roots {
  font-size: 10px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%; }

h1 {
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 2.6rem;
  margin: 1rem 0 1rem 0; }

h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: grey; }

h6 {
  font-size: 0.9rem;
  color: grey;
  line-height: 1.3rem;
  margin-top: 1rem; }

small {
  color: orange;
  font-size: 0.9rem; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: 100vh;
  position: relative; }
  .grid-container .header {
    position: absolute;
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: rgba(255, 255, 255, 0.01);
    box-sizing: border-box; }
    .grid-container .header h2 {
      font-size: 1.5rem;
      padding: 1rem 0 0 3rem; }
    .grid-container .header .dropdown i {
      font-size: 2rem;
      color: orange; }
    .grid-container .header nav {
      padding: 0.25rem 0 0 2rem; }
    .grid-container .header a {
      text-decoration: none;
      color: grey;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 1rem 0.8rem; }
    .grid-container .header a:hover {
      color: orange; }
  .grid-container img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover; }
  .grid-container .hero-right-article {
    display: grid;
    background-color: wheat; }
  .grid-container .hero-article {
    padding: 2rem;
    align-self: center; }

button {
  border: 0;
  margin: 0;
  padding: 0; }

button {
  padding: 0.4rem 1.2rem;
  text-align: center;
  font-size: 0.8rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  background-color: wheat;
  margin-top: 2rem; }

.Donec-auctor-section {
  padding: 2rem; }

.skills-rating {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20rem; }
  .skills-rating .my-skills {
    padding: 0.5rem 2rem 0 2rem;
    background-color: orange; }
    .skills-rating .my-skills h1, .skills-rating .my-skills h6 {
      color: white; }
    .skills-rating .my-skills p {
      padding: 0.3rem 0;
      display: inline-block;
      line-height: 1.4rem;
      color: black; }
      .skills-rating .my-skills p em {
        color: white;
        text-align: center;
        display: inline-block; }
    .skills-rating .my-skills .progress-border {
      border: 0.001rem solid white;
      margin-bottom: 2rem; }
      .skills-rating .my-skills .progress-border .w3-grey {
        height: 0.15rem;
        width: 90%;
        background-color: black; }
      .skills-rating .my-skills .progress-border .w3-grey1 {
        height: 0.15rem;
        width: 70%;
        background-color: black; }
      .skills-rating .my-skills .progress-border .w3-grey2 {
        height: 0.15rem;
        width: 80%;
        background-color: black; }

.third-section {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 17rem;
  background-color: orange; }
  .third-section i {
    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
    text-align: center; }

.box {
  text-align: center;
  padding: 2rem; }
  .box h3 {
    font-size: 1.3rem;
    color: white;
    padding: 1rem 0 1.2rem 0; }
  .box p {
    color: white;
    font-size: 0.9rem;
    font-weight: 300; }

.media-strategy {
  background-color: orangered; }

.mobile-app {
  background-color: black; }

.coding {
  background-color: white; }
  .coding h3 {
    color: black; }
  .coding p {
    color: black; }
  .coding i {
    color: black; }

.fourth-section {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: orangered; }
  .fourth-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center; }

.exprience-article h3, p {
  color: white; }

.exprience-article h1 {
  color: white;
  padding: 2rem 0 0 2rem; }
.exprience-article p {
  padding: 0 0 2rem 2rem; }

.graphic {
  display: grid;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding: 1rem 2rem 0 0; }
  .graphic h3 {
    padding-left: 1.7rem;
    display: inline-block;
    word-spacing: 0.2rem;
    font-size: 1.7rem; }
  .graphic p {
    padding-top: 0.4rem; }
  .graphic .fas {
    font-size: 2.5rem;
    color: white;
    padding-left: 2rem; }

.education {
  background-color: orange; }

.contact-forms {
  display: grid;
  grid-template-columns: 50vw 50vw; }
  .contact-forms .forms-wrapper {
    background-color: orangered;
    box-sizing: border-box;
    padding: 2rem; }
    .contact-forms .forms-wrapper h3 {
      font-size: 2rem;
      color: white;
      padding-bottom: 1rem; }
    .contact-forms .forms-wrapper p {
      padding-bottom: 1rem; }

fieldset input, fieldset textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  border-radius: 0;
  padding: 0; }
fieldset input, fieldset textarea {
  width: 95%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.001);
  border-bottom: 0.05rem solid yellowgreen; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.button-positioning input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  border-bottom: 0; }
.button-positioning input {
  background-color: white;
  border-radius: 1rem;
  width: 35%;
  padding: 0.3rem 2rem;
  margin-top: 1rem;
  color: grey; }

.contact-info {
  display: grid;
  grid-template-columns: 50% 50%; }
  .contact-info img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.contact-content {
  background-color: black;
  box-sizing: border-box;
  padding: 2rem; }
  .contact-content h3 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
  .contact-content small {
    color: grey;
    line-height: 1.9rem;
    padding-bottom: 2.2rem; }
  .contact-content i {
    color: grey; }

.icon-alignment {
  display: flex;
  margin: 1rem 0; }
  .icon-alignment p {
    padding-left: 1rem;
    color: grey;
    font-size: 1rem;
    list-spacing: 0.4rem; }
  .icon-alignment a {
    text-decoration: none; }
  .icon-alignment a p {
    color: orange; }

.maps-container {
  text-align: center;
  background-color: orangered;
  box-sizing: border-box;
  padding: 1.5rem; }
  .maps-container .map-sizing {
    width: 90%; }

.footer-section {
  text-align: center;
  padding: 4rem 0; }
  .footer-section small {
    color: grey; }
  .footer-section small a {
    text-decoration: none;
    color: orange; }

.social-links {
  font-size: 0.9rem;
  padding-top: 1.3rem; }
  .social-links i {
    padding: 1.2rem;
    color: grey; }

.dropdown-icon {
  position: absolute;
  left: 90%;
  top: 10%;
  visibility: hidden; }
 /* .dropdown-icon .dropdown-menu {
    width: 8rem;
    visibility: hidden; }
  .dropdown-icon a {
    padding: 0;
    margin: 0; }*/

@media all and (max-width: 900px) {
  body {
    margin: 0 auto; }

  :roots {
    font-size: 5px; }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh; }
    .grid-container .header {
      background-color: white; }

  .skills-rating {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }

  .third-section, .box {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, auto); }

  .fourth-section {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, 25rem); }

  .contact-forms {
    grid-template-columns: 100vw;
    grid-template-rows: auto; }

  .contact-info {
    grid-template-columns: 100vw;
    grid-template-rows: 32rem 28rem; }

  .maps-container {
    padding: 1rem 0 1rem 0; }

  .dropdown nav {
    visibility: hidden; }

  .dropdown-icon {
    visibility: visible; }

  .dropdown:hover .dropdown-icon a:hover {
    visibility: visible; } }

/*# sourceMappingURL=main.css.map */
