/*  CSS Resets  */


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
{
  text-align: center;
}
/*main css*/
/*body background color*/
body {
  background: url("../../assets/media/mountain.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
h1 {
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 20px;
  text-align: center;
}
.inline {
  display: inline-block;
}
.red-box {
  width:350px;
  height: 220px;
  background-color: deeppink;
  margin: 30px;
  display: inline-block;
  border-radius: 20px;
  position: relative;
}
.center {
  position: relative;
  background: linear-gradient(to right ,  black, deeppink);
}
.right {
  position: relative;
  background: radial-gradient(deeppink, black);
}
h2 {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -10px;
}
.italybackground {
  background: linear-gradient(to right bottom, rgba(255,0,0,0.2), rgba(255,0,0,0.8)), url("../../assets/media/italy.jpg") 0 0 no-repeat;
  background-size: 100%;
  height: 400px;
  width: 1000px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin: 50px;
}












